/* General Container */
.cardContainer {
  /* max-width: 93vw; */
  /* max-height: 30vh; */
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 10px;
}

/* Top Container */
.topContainer {
  display: flex;
  justify-content: space-between;
  padding: 3px 28px;
  background-color: #333; 
  border-top-left-radius: 10px; 
  border-top-right-radius: 10px; 
}

.topContainer h3 {
  font-size: 1.5rem;
  font-weight: 600;
  color: beige;
  letter-spacing: 1px;
  cursor: default;
}

.link {
  font-size: 1.1rem;
  font-weight: 500;
  color: beige;
  letter-spacing: 1px;
  cursor: pointer;
  text-decoration: none;
  margin-top: 5px;
}

/* Bottom Container */
.bottomContainer {
  display: flex;
  max-height: 28vh;
  gap: 10px;
  overflow: hidden;
  margin-left:10px;
  border-bottom-left-radius: 10px; 
  border-bottom-right-radius: 10px;
}
.bottomContainer::-webkit-scrollbar{
  display: none;
}
/* Poster Image */
.poster {
  height: 150px;
  width: 250px;
  
  border-radius: 10px;
  display: flex;
  justify-content: center;align-items: center;
}

/* Play Button */
.playButton {
  height: 40px;
  width: 40px;
  transform: translate(110px, -95px);
}

/* Image Hover Container */
.imageHoverContainer {
  position: absolute;
  display: none;
  gap: 10px;
}

.bottomContainer:hover .imageHoverContainer {
  display: flex;
}

.imageHoverContainer iframe {
  height: 150px;
  width: 300px;
  border-radius: 10px;
  transform: translate(-10px, -194px);
  transition: transform 0.4s ease-in-out;
  z-index: 30;
}

/* Forward and Backward Arrows */
.forwordArrow,
.backwordArrow {
  position: absolute;
  height: 30px;
  width: 30px;
  opacity: 0;
  z-index: 2;
  cursor: pointer;
  margin-top: 60px;
}

.forwordArrow {
  transform: translateX(92vw);
}

.bottomContainer:hover .forwordArrow,
.bottomContainer:hover .backwordArrow {
  opacity: 1;
}


@media(min-width:500px) and (max-width:1100px){
  .forwordArrow,
  .backwordArrow{
    display: none;
  }
  .bottomContainer{
    margin:0 10px;
  }
  .bottomContainer{
    overflow-x: scroll;
    overflow-y: hidden; 
  }
}