.home{
    width: 98.7vw;
    height: auto;
    padding-top: 11vh;
    /* display: flex; */
    /* overflow-y: hidden; */
    background: #0F1014;
}

/* sidebar */ 
.sidebar{
    height: 100vh;
    /* min-width: 5vw; */
    /* background-color: #0F1014; */
    display: flex;
    flex-direction: column;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    position: fixed;
    z-index:3;
    /* opacity: 0.7; */
    transition: all 0.5s ease-in-out;
    background-color: transparent;
}
.sidebar::-webkit-scrollbar{
    display: none;
}
.sidebar:hover{
    min-width: 15vw;
    /* background-color: rgb(41, 51, 84); */
    background-color: #0F1014;
    /* margin-right: 300px;*/
    /* transition: all 0.2s ease-in-out;  */
    /* background-color: transparent; */
    opacity: 0.7;
}

.sidebar:hover .displayBlock{
    display: none; 
    /* background-color: red; */
}
.sidebar:hover .displayNone{
    display: flex;
    flex-direction: column;
}
.sidebar .displayBlock{
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    padding-left: 10px;
    margin: 11px 0;
    border-radius: 15px;
}
.sidebar .displayBlock img{
    margin: 15px 0;
}
.sidebar .displayNone{
    display: none;
    padding-top: 80px;
}
.sidebar .displayNone div{
    height: 35px;
    width: 11.2vw;
    display: flex;
    align-items: center;
    gap:10px;
    cursor: pointer;
    margin: 11px 0;
    padding-left: 10px;
    border-radius: 15px;
}
.sidebar .displayNone div:hover{
    background-color:red;
}

.sidebar .displayNone div span{
   font-size: 1.1rem;
   font-weight: 600;
   color: beige;
}

.sidebar .displayBlock img,
.sidebar .displayNone img{
    height: 30px;
    width: 30px;
}
.link{
    text-decoration: none;
}


/* content */
.content{
    width: 100%;
    background-color: #0F1014;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    /* margin-left:3vw; */
    overflow: hidden;
    z-index: 1;
}
.content::-webkit-scrollbar{
    display: none;
}

  
  @media (min-width: 500px) and (max-width:1140px) {
     .sidebar span{
        display: none;
     }
    .sidebar .displayNone{
        margin-left: 20px;
    }
     .content{
        padding-left: 1vw;
     }
  }
  