/* .formContainer {
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
} */
.loginContainer, .registerContainer{
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loginContainer .formWrapper{
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
  margin-top: 40px;
  padding: 20px 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.loginContainer p {
  color: #5d5b8d;
  font-size: 12px;
  margin-top: 10px;
}

.loginContainer .formWrapper .logo img {
  height: 80px;
}

.loginContainer .title,
.registerContainer .title {
  color: #5d5b8d;
  font-size: 3rem;
  font-weight: 600;
  font-family: sans-serif;
  margin-top: -20px;
  margin-bottom: 20px;
}

.loginContainer .formWrapper form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.inputContainer {
  width: 100%;
  max-width: 510px; 
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px;
}

.loginContainer input,
.registerContainer input {
  padding: 12px;
  border: none;
  border-radius: 5px;
  background: grey;
  width: 100%;
  max-width: 245px;
  border-bottom: 1px solid #a7bcff;
  color: #fff;
  font-size: 1.7rem;
}

.loginContainer input::placeholder,
.registerContainer input::placeholder {
  color: #fff;
}

.loginContainer button,
.registerContainer button {
  background-color: #4158d0;
  background-image: linear-gradient(43deg, #4158d0 0%, #c850c0 46%, #ffcc70 100%);
  color: white;
  padding: 10px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.registerContainer  .formWrapper, .logoContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.logoContainer{
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 20px 20px;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
  height: 60vh;
  width: 30vw;
}


.registerContainer  .formWrapper{
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 60vh;
  width: 42vw;
  justify-content: center;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
}

.registerContainer .logoContainer .logo img {
  height: 130px;
}



.registerContainer .formWrapper form button {
  width: 150px;
  margin-left: auto;
  margin-top: 15px;
}


.registerContainer .logoContainer p {
  color: #5d5b8d;
  font-size: 17px;
  margin-top: 10px;
}
.registerContainer .formWrapper .logo,
.registerContainer .formWrapper .title,
.bottomPara{
  display: none;
}

/* Media Query for smaller screens */
 @media (max-width: 768px) {
 
  .registerContainer .formWrapper{
    height: auto;
    width: 100%;
    background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
    margin-top: 80px;
    padding: 20px 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .registerContainer .formWrapper .logo img {
    height: 80px;
  }
  .logoContainer{
    display: none;
  }
  .loginContainer,
  .registerContainer {
    padding: 20px;
  }

 .formWrapper {
    margin-top: 20px;
  }

  .inputContainer {
    width: 100%;
  }
  .registerContainer .formWrapper .logo,
  .registerContainer .formWrapper .title,
  .bottomPara{
    display: block;
  }
  .registerContainer .formWrapper p {
    color: #5d5b8d;
    font-size: 17px;
    margin-top: 10px;
  }
 
} 

 @media (max-width: 580px) {
  .registerContainer .formWrapper form{
    text-align: center;
  }
  .registerContainer .formWrapper form button{
    width: 100%;
    max-width: 245px;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .registerContainer .formWrapper{
    padding-left: 20px;
  }
  .inputContainer {   
    display: flex;
    justify-content: left;
    width: 100%;
    
  }
  .registerContainer .formWrapper form input {
    width: 100%;
    max-width: 300px;
  }
  
}  
